/*.log
**/target
**/node_modules
package-lock.json
lambda/**/*.zip
/*-init.clj
/resources/public/js/compiled
out
python3-venv
figwheel_server.log
ProcFile
.DS_Store
.nrepl-port
.lein-failures
.lein-repl-history
.idea
*.iml
.rebel_readline_history
.cpcache

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
