option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_ACCESS_KEY: FROM_EB_CONFIG
    AWS_SECRET_KEY: FROM_EB_CONFIG
    AWS_DYNAMODB_ENDPOINT: FROM_EB_CONFIG
    HD_INSTAGRAM_CLIENT_ID: FROM_EB_CONFIG
    HD_INSTAGRAM_CLIENT_SECRET: FROM_EB_CONFIG
    HD_INSTAGRAM_REDIRECT_URI: FROM_EB_CONFIG
    HD_COGNITO_CLIENT_ID: FROM_EB_CONFIG
    HD_COGNITO_CLIENT_SECRET: FROM_EB_CONFIG
    HD_COGNITO_REDIRECT_URI: FROM_EB_CONFIG
    HD_CREATE_RIBBON_TOPIC_ARN:FROM_EB_CONFIG
