
body {
  background-color: #fafafa;
}

.header {
  background-color: rgba(253, 253, 253, 0.3);/* #fdfdfd */
}

.red {
 color: rgb(256,0,0);
}

.light-grey {
  color: rgb(120,120,120);
}

.input-label {
 font-weight: 400;
 /*font-variant: small-caps;*/
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.fit-cover {
  object-fit: cover;
}

.fit-contain {
  object-fit: contain;
}

.fit-none {
  object-fit: none;
}

.login-page {
  background-image:url("/image-assets/file-cabinet.png"), linear-gradient(#e4e0ba, #f7d9aa);
  background-position: top;
  /*background: -webkit-linear-gradient(#e4e0ba, #f7d9aa);
  background: linear-gradient(#e4e0ba, #f7d9aa);*/
  background-repeat: no-repeat;
}

.image-controls-overlay {
  z-index: 10;
  position: absolute;
  /*left: 0; top: 0;*/
  right: 100; bottom: 100;
}
